* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: Gilroy, system-ui, -apple-system, sans-serif;
  user-select: none;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 0.3rem;

  section {
    height: 100%;
    flex-grow: 1;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }

  section:hover {
    flex-grow: 3;
  }

  section:nth-child(1) {
    background-image: url("./assets/1.jpg");
  }

  section:nth-child(2) {
    background-image: url("./assets/2.jpg");
  }

  section:nth-child(3) {
    background-image: url("./assets/3.jpg");
  }

  section:nth-child(4) {
    background-image: url("./assets/4.jpg");
  }

  section:nth-child(5) {
    background-image: url("./assets/5.jpg");
  }
}
